# Compiled class file
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#idea files
*.iml
*.ipr
*.iws
/.idea

#vscode files
.project
.classpath
/.settings
/.vscode

#logs
/logs

#build folders
build/
out/
.gradle/
bin/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd